<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body})}">

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 md-offset-3 mx-auto">
                <div class="card card-primary border border-info">
                    <div class="card-header bg-primary text-light">
                        <h6 class="card-title">Change Image</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data"
                                  th:action="@{'/recipes/' + ${recipe.id} + '/image'}">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label">Select File</label>
                                        <input id="imagefile" name="imagefile" type="file" class="file">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>