<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
    <div class="container-fluid" style="margin: 20px">
        <div class="row">
            <div class="col-md-6 md-offset-3 mx-auto">
                <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card border border-info">
                        <div class="card-header bg-primary text-light">
                            <h4 class="card-title">Edit Recipe Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                <label>Recipe Description:</label>
                                <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Category 1
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Category 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Cook Time:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="diff : ${T(sfgcourse.recipeproject.domain.Difficulty).values()}"
                                                th:value="${diff.name()}"
                                                th:text="${diff.name()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <p></p>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="card border border-info">
                        <div class="card-header bg-primary text-light">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="card-title">Ingredients</h4>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-light"  th:href="'/recipe/' + ${recipe.id} + '/ingredients'" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                           <div class="row">
                               <div class="col-md-12">
                                   <ul>
                                       <li th:remove="all">Ingredient1</li>
                                       <li th:remove="all">Ingredient2</li>
                                       <li th:remove="all">Ingredient3</li>
                                       <li th:each="ingredient : ${recipe.ingredients}"
                                           th:text="${ingredient.amount} + ' ' +
                                           ${ingredient.uom.uom} + ' - ' +
                                           ${ingredient.description}">
                                           Ingredient1
                                       </li>
                                   </ul>
                               </div>
                           </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="card border border-info">
                        <div class="card-header bg-primary text-light">
                            <h4 class="card-title">Directions</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="card border border-info">
                        <div class="card-header bg-primary text-light">
                            <h4 class="card-title">Notes</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>