body {
    background-color: #FAF0DC;
    font-family: 'Sora', sans-serif;
}

.card .card-header {
    background-color: #0B4141;
    -webkit-text-fill-color: #FAF0DC;
}

th {
    -webkit-text-fill-color: #0B4141;
}

button {
    -webkit-text-fill-color: #0B4141;
}

button.btn {
    background-color: #0B4141;
    -webkit-text-fill-color: #FAF0DC;
}

button.btn:hover{
    background-color: rgba(11, 65, 65, 0.83);
}

a {
    -webkit-text-fill-color: #0B4141;
}

a.btn:hover {
    background-color: #e7e6e6;
}