<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
    <div class="container-fluid" style="margin: 20px">
        <div class="row">
            <div class="col-md-6 md-offset-3 mx-auto">
                <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                        <div class="card border border-info">
                            <div class="card-header bg-primary text-light">
                                <h4 class="card-title" th:text="Ingredient">Edit Ingredient Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Amount:</label>
                                        <input type="number" class="form-control" th:field="*{amount}">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Unit of Measure:</label>
                                        <select class="form-control" name="uom.id">
                                            <option th:each="uomEach : ${uomList}"
                                                    th:value="${uomEach.id}"
                                                    th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                    th:text="${uomEach.uom}">Each</option>
                                        </select>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-11">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>