<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body})}">

<body>
    <div class="container-fluid" style="margin: 20px">
        <div class="row">
            <div class="col-md-6 md-offset-3 mx-auto">
                <form th:object="${ingredient}" th:action="@{'/recipes/' + ${ingredient.getRecipeId()} + '/ingredients/process'}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{recipeId}">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" th:text="Ingredient">Edit Ingredient Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 form-group" th:class="${#fields.hasErrors('description')} ?
                                    'col-md-4 form-group text-danger' : 'col-md-4 form-group'">
                                        <label class="form-label">Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}">
                                        <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('description')}" th:text="${#strings.capitalize(err)}" style="font-size: 14px"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-4 form-group" th:class="${#fields.hasErrors('amount')} ?
                                    'col-md-4 form-group text-danger' : 'col-md-4 form-group'">
                                        <label class="form-label">Amount:</label>
                                        <input type="number" class="form-control" th:field="*{amount}">
                                        <span class="help-block" th:if="${#fields.hasErrors('amount')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('amount')}" th:text="${#strings.capitalize(err)}" style="font-size: 14px"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Unit of Measure:</label>
                                        <select class="form-control" name="uom.id">
                                            <option th:each="uomEach : ${uomList}"
                                                    th:value="${uomEach.id}"
                                                    th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                    th:text="${uomEach.uom}">Each</option>
                                        </select>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-11">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>